/* NAVBAR DESIGN */
.navbar {
	height: 60px;
	padding: 5px;
}

.navbar .container {
	max-width: 1000px;
}

.navbar-default {
	background: #BF1B5C;
}

@media (max-width: 400px) {
  
  	.navbar-default {
    	background: #BF1B5C;
  	}

	.navbar-default .navbar-nav>li>a {
	 	background: #BF1B5C;
		color: white;
		font-weight: 300;
	}

	.navbar-default .navbar-nav>li>a:hover {
		background: #BF1B5C;
		color: white;
		font-weight: 300;
	}
}

@media (max-width: 767px) {
  
  	.navbar-default {
    	background: #BF1B5C;
  	}

	.navbar-default .navbar-nav>li>a {
	 	background: #BF1B5C;
		color: white;
		font-weight: 300;
	}

	.navbar-default .navbar-nav>li>a:hover {
		background: #BF1B5C;
		color: white;
		font-weight: 300;
	}
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-weight: 300;
}

.navbar-default .navbar-nav>li>a:hover {
	color: white;
	font-weight: 300;
}

.navbar-default .navbar-brand {
	color: white;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
}

.navbar-default .navbar-brand:hover {
	color: white;
}

/* HOMEPAGE DESIGN */
.app-container {
	padding-bottom: 50px;
	max-width: 1000px;
}

.app-container .btn-primary {
	background: #BF1B5C;
	border: #BF1B5C;
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 0.01;
	padding: 10px;
}

.app-container img {
	margin-top: 30px;
	height: 250px;
	width: 90%;
}

.app-container h2 {
	font-weight: 300;
}

.no-padding {
	padding: 0px;
}

.app-container .step-pic {
	height: 200px;
}

.app-container .step-circle {
	background-color: #BF1B5C;
	border-radius: 25px;
	width: 30px;
	height: 30px;
	color: white;
	padding: 5px;
	margin-top: 5px;
	text-align: center;
}

.app-container .step-label {
	margin-left: 10px;
}

.homepage {
    margin-top: 50px;
    background-image: url(img/app_wallpaper.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding-top: 1.5em;
    padding-bottom: 3.5em;
    z-index: 10;
    overflow: auto; 
    height: 94vh;
    opacity: 0.9;
}

/* SEND A POSTCARD */ 
.send-postcard-container {
	max-width: 1000px;
	margin-top: 100px;
	padding-bottom: 20px;
}

.send-postcard-container .step-circle {
	background-color: #BF1B5C;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	color: white;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
	font-size: 20px;
}

.send-postcard-container .step-label {
	margin-left: 70px;
	margin-top: 10px;
}

.send-postcard-container .btn-primary {
	background: #BF1B5C;
	border: #BF1B5C;
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 0.01;
	margin-top: 10px;
}

.add-message-container {
	display: none; 
}

.add-recipient-container {
	display: none; 
}


.info-container {
	background-color: #dddddd; 
	margin-top: 10px; 
	color: black; 
	border-radius: 2px; 
	padding: 20px; 
	margin-left: 20px; 
	opacity: 0.8
}
