{% extends "layout.html" %}
{% block contents %}

<header>
<div class="homepage">
</div>

<div class="container app-container">
	<div class="col-lg-12 col-xs-12 no-padding">

		<div class="col-lg-6 no-padding">
			<img src="">
		</div>

		<div class="col-lg-6 no-padding">
			<h2>About the App</h2>
			<p>This app lets you This app lets youThis app lets youThis app lets youThis app lets youThis app lets youThis app lets you. Want to share your recent updates with grandparents? </p>

			<!-- <button class="btn btn-primary col-lg-7 xol-xs-7">SEND A POSTCARD</button> -->

		</div>
	</div>

	<!-- HOW IT WORKS -->
	<div class="col-lg-12 col-xs-12 no-padding">
		<div class="col-lg-12 col-xs-12 no-padding">
			<h2>How it Works</h2>
		</div>

		<div class="col-lg-12 col-xs-12 no-padding">
			<div class="col-lg-4 col-xs-4 no-padding">
				<img src="" class="step-pic">
				<div class="col-lg-12 no-padding">
					<div class="col-lg-2 no-padding step-circle">
					1
					</div>

					<div class="col-lg-10 no-padding step-label">
					<h4>Choose a Photo</h4>
					</div>
					
				</div>
			</div>

			<div class="col-lg-4 col-xs-4 no-padding">
				<img src="" class="step-pic">
				<div class="col-lg-12 no-padding">
					<div class="col-lg-2 no-padding step-circle">
					2
					</div>

					<div class="col-lg-10 no-padding step-label">
					<h4>Add a Message</h4>
					</div>
					
				</div>
			</div>

			<div class="col-lg-4 col-xs-4 no-padding">
				<img src="" class="step-pic">
				<div class="col-lg-12 no-padding">
					<div class="col-lg-2 no-padding step-circle">
					3
					</div>

					<div class="col-lg-10 no-padding step-label">
					<h4>Send Postcard</h4>
					</div>
					
				</div>
			</div>
		</div>

	</div>


</div>

</header>

{% endblock %}